@import "../imports";

/* ==========================================================================
   Typography Defaults
   ========================================================================== */

html {
    font-size: 62.5%; /* 62.5% so that all the REM measurements re based on 10px sizing */
}

body {
    @mixin text-smooth;

    color: var(--color-black);
    font-family: var(--font-family);
    overflow-wrap: break-word;  /* Break long words by default */
    -webkit-tap-highlight-color: transparent;  /* Do not show a highlight (rectangle around the link) while tapping it */
}

/* ==========================================================================
  Headings
  ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    @mixin --type-h1;
}

h2 {
    @mixin --type-h2;
}

h3 {
    @mixin --type-h3;
}

h4 {
    @mixin --type-h4;
}

h5 {
    @mixin --type-h5;
}

p {
    @mixin --type-p;
}
