@import "../../shared/styles/variables";

.contact {
    width: var(--home-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-lightseagreen);
}
