@import "../custom-medias";

/* ==========================================================================
  Fonts
  ========================================================================== */

@define-mixin font $fontSize, $lineHeight: null, $letterSpacing: null, $fontWeight: null {
    font-size: $fontSize;

    @if $lineHeight != null {
        line-height: $lineHeight;
    }

    @if $letterSpacing != null {
        letter-spacing: $letterSpacing;
    }

    @if $fontWeight != null {
        font-weight: $fontWeight;
    }
}

/* ==========================================================================
  All typography variants

  ========================================================================== */

@define-mixin --type-h1 {
    @mixin font 5rem, 1.5, 0.04rem, var(--font-weight-bold);

    @media (--layout-lte-small) {
        @mixin font 4.2rem, 1.4;
    }
}

@define-mixin --type-h2 {
    @mixin font 4.2rem, 1.4, 0.03rem, var(--font-weight-bold);

    @media (--layout-lte-small) {
        @mixin font 3.6rem, 1.3;
    }
}

@define-mixin --type-h3 {
    @mixin font 3.6rem, 1.3, 0.02rem, var(--font-weight-bold);

    @media (--layout-lte-small) {
        @mixin font 3rem, 1.25;
    }
}

@define-mixin --type-h4 {
    @mixin font 3rem, 1.25, 0.01rem, var(--font-weight-regular);

    @media (--layout-lte-small) {
        @mixin font 2.6rem, 1.2, 0;
    }
}

@define-mixin --type-h5 {
    @mixin font 2.6rem, 1.25, 0.01rem, var(--font-weight-regular);

    @media (--layout-lte-small) {
        @mixin font 2.2rem, 1.2, 0;
    }
}

@define-mixin --type-p {
    @mixin font 1.6rem, 1.35, null, var(--font-weight-regular);
}
