@import "../../shared/styles/variables";

.about {
    width: var(--home-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-lightgreen);
}
